# Exclude everything except the Dockerfile
*

# Add only the necessary files
!src/pdm_python
!README.md
!LICENSE
!pyproject.toml
!pdm.toml
!pdm.lock
!uv.lock
!launch.py
!requirements.txt

# Exclude known
src/**/__pycache__
src/**/.pytest_cache
src/**/.mypy_cache
src/**/.vscode
src/**/.git
src/**/.idea
src/**/.vscode
src/**/*.pyc
